body {
  overflow-x: hidden;
}
.btn {
  border-radius: 0;
}

.navbar-brand {
  text-transform: uppercase;
  // font-family: "Anurati", cursive;
  font-family: "Nosifer", cursive;
  font-weight: normal;
  font-size: 2.5rem;
  // letter-spacing: 12px;
}

.card {
  box-shadow: 5px 10px 7px #ccc;
}
