<nav class="navbar navbar-expand-sm navbar-dark bg-primary mb-3">
    <div class="container">
        <a href="/" class="navbar-brand">Memos</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="nav-item">
                    <a href="/about" class="nav-link">About</a>
                </li>

            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a href="/memos" class="nav-link">View Memos</a>
                </li>
                <li class="nav-item">
                    <a href="/memos/add" class="nav-link">Add Memo</a>
                </li>
            </ul>
        </div>
    </div>
</nav>