<h1>About</h1>


<p> A Node/Express app for saving and retrieving memos from a MongoDB database</p>
<div class="row">

    <div class="col-md-8 mx-auto">
        <ul class="list-group card">
            <li class="list-group-item text-center active">Technologies Used</li>
            <li class="list-group-item bg-light">Node JS
            </li>
            <li class="list-group-item bg-light">Express JS
            </li>
            <li class="list-group-item bg-light">Bootstrap 4
            </li>
            <li class="list-group-item bg-light">jQuery
            </li>
            <li class="list-group-item bg-light">SASS
            </li>
            <li class="list-group-item bg-light">MongoDB
            </li>

        </ul>
    </div>
</div>